@import "antd/dist/antd.css";

/* BASE ELEMENTS */
h1 {
  font-size:  30px;
}

.root {
  min-height: 100vh;
  height: 100%;
}
.title {
  color: white;
}

/* HEADER */

.header {
  z-index: 1;
  width: 100%;
  height: 75px;
  background-color: #48484a;
  position: fixed;
}
.search {
  width: 25%;
}
.search button {
  background-color: #e96e50;
  border-color: #e96e50;
}
.search button:hover {
  background-color: #ed8b73;
  border-color: #ed8b73;
}
.search input:focus {
  border-color: #e96e50 !important;
}

/* CONTENT */

.content {
  margin-top: 75px;
  background-color: white;
}
.loading {
  height: 100%;
}
.currentWeather {
  min-height: 50%;
}
.location {
  color: #e96e50 !important;
  text-align: center;
  margin-bottom: 0 !important;
}
.titleImage {
  width: 100px;
  height: 100px;
}
.forecast {
  margin-top: 10px;
}
.forecastCards {
  margin: 5px 0;
}
.forecastSelect {
  width: 150px;
}
.ant-card-body {
  padding: 0 5px !important;
}
.ant-card-head {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}
.cardImageDiv {
  display: flex;
  justify-content: center;
}
.cardImage {
  width: 50px;
  height: 50px;
}
.forecastCard {
  width: 110px;
}
.cardWeather {
  display: flex;
  justify-content: center;
}
.ant-descriptions-item-content {
  justify-content: end;
}
.selectedCity {
  padding: 10px;
  border: 1px solid black;
}
.selectedGraph {
  padding: 10px;
  border: 1px solid black;
}

/* FOOTER */

.footer {
  background-color: #48484a;
}
